
.fav-btn{
    background-color: inherit;
    border: none;
    padding: 5px 8px 2px 8px;
}
.fav-btn.at-home{
    background: #a5a5a5;
}

.fav-btn svg{
    height:20px;
    width: 15px;
}
.fav-btn svg path{
    fill:white;
}

.fav--active svg path{
    fill:#000;
}
.movies-grid {
    display: grid;
    gap: 30px 20px;
    grid-template-columns: repeat(5, 1fr);
    margin: 15px 30px;
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000000b8;
    width: 100vw;
    height: 100vh;
}
.movie-card {
    display: grid;
    position: relative;
    padding:30px 10px 0 10px;
    border-radius: 2px;
    height: fit-content;
}
.movie-card:not(.modal-open):hover  {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.205);
}

.movie-info h4{
    padding-top:7px;
}

.notes-btn{
    display: flex;
    gap:5px;
    padding-top:10px;
    justify-content: center;

}

.del-note{
    background-color: rgba(108, 108, 108, 0.821);
}

img {
    height: 200px;
    object-fit: cover;
}
.movie-overlay {
    display: grid;
    position: absolute;
    top: 10px;
    right: 10px;
}
.movie-overlay:hover {
    opacity: .8;
}

.movie-overlay:active {
    opacity: .6;
}

.movie-polster {
    margin: 0 auto;
}

.movie-info {
    height: 85px;
    text-align: center;
}

.movie-info h4 {
    margin: auto;
}



.close-note, .close{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    cursor: pointer;
}

.close path{
    fill:white;
}

.close {
    top:30px;
    right:30px;
}

.close-note:hover{
    opacity: .8;
}

.close-note:active{
    opacity: .6;
}

.note-modal{
    display: grid;
    position: fixed;
    left: 0; 
    right: 0; 
    top:50%;
    transform: translateY(-50%);
    margin-inline: auto; 
    width: fit-content;
    z-index: 9999;
    background-color: rgb(44, 90, 216);
    padding:20px 15px 50px 15px;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.note-form{
    display: grid;
    gap:5px;
    padding:30px 50px 0 50px;
    justify-content: center;
}
.note-form textarea{
    border:none;
    padding:5px 10px;
    border-radius: 4px;
}
.note-modal h2,.note-modal h4{
    display: flex;
    justify-content: center;
    margin:10px 0;
    padding: 0;
}
.movie-card{
    background: rgb(80, 80, 80);
}
.movie-card.popup--active{
    opacity: .4;
}

.note-btn{
    background: transparent;
    padding: 8px 5px 2px 5px;
}
.note-btn:hover{
    opacity: .8;
}
.note-btn:active{
    opacity: .6;
}
.note-btn svg path{
    fill:#fff;
}

.note-btn.note--exist svg path{
    fill:rgb(63, 151, 63);
}

.info {
    display: grid;
    width: 100%;
    padding: 50px 70px;
    background: #000000bf;
    
}
.info p{
    background: #000;
    width: fit-content;
    padding: 10px;
    margin: 5px;
}

.info-heading{
    display: grid;
    justify-content: center;
}

.open-descr{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.open-descr:hover{
    opacity: 1;
    background-color: #0000006b;
}

.no-image{
    width: 141px !important;

}

@media (max-width: 865px) {
    .movies-grid{
        gap: 20px 10px;
        grid-template-columns: repeat(4, 1fr);
    }
    .movie-overlay {
        top: 7px;
        right: 4px;
    }
    form.search-form {
        justify-content: center !important;
        transform: translate(0%, -0%) !important;
        position: static !important;
        z-index: 0 !important;
        margin-bottom: 20px;
    }
  }

  

@media (max-width: 720px) {
    .movies-grid{
        gap: 10px 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    .movie-overlay {
        top: 10px;
        right: 7px;
    }
  }

  @media (max-width: 540px) {
      .movies-grid{
          gap: 7px 7px;
          grid-template-columns: repeat(2, 1fr);
      }
      .info {
        padding: 0 30px;
    }
    }